<html>
	<head>
	<title>Page accueil blog</title>
	</head>
	
	<body>
		<h1>Bienvenue sur la page d'accueil</h1>:
		
		<p>
		Exsistit autem hoc loco quaedam quaestio subdifficilis, 
		num quando amici novi, digni amicitia, veteribus sint anteponendi, 
		ut equis vetulis teneros anteponere solemus. Indigna homine 
		dubitatio! Non enim debent esse amicitiarum sicut aliarum 
		rerum satietates; veterrima quaeque, ut ea vina, 
		quae vetustatem ferunt, esse debet suavissima; verumque illud est, 
		quod dicitur, multos modios salis simul edendos esse, 
		ut amicitiae munus expletum sit.
		</p>
		
	</body>
</html>
